<div class="snapshot-form-container container container--xs" style="--container-margin-top: 2rem">
  <h1 class="heading">
    Add your Rails app's stats
  </h1>

  <%= form_with model: @snapshot, url: snapshots_path, class: "snapshot-form" do |form| %>
    <div>
      <%= form.label :project_name, class: "label" %>
      <%= form.text_field :project_name, placeholder: "Rails Designer", class: "input" %>
    </div>

    <div>
      <%= form.label :founded_at, class: "label" %>
      <%= form.date_field :founded_at, class: "input", onclick: "this.showPicker()" %>
    </div>

    <div>
      <%= form.label :website, class: "label" %>
      <%= form.url_field :website, value: "https://", class: "input" %>
    </div>

    <div>
      <%= form.label :raw_data, class: "label" %>
      <%= form.text_area :raw_data, rows: 3, placeholder: Snapshot::Metric.raw_data_placeholder, class: "input" %>

      <small class="hint">Run <code>rails stats | pbcopy</code> and paste above</small>
    </div>

    <div class="buttons">
      <%= invisible_captcha %>
      <%= form.submit class: "btn btn--primary" %>
    </div>
  <% end %>
</div>
